<p id="notice"><%= @words.length %></p>

<ul class="list-group">
  <% @words.each do |word, i| %>
    <li style="line-height: 200px; font-size: 30px;" class="list-group-item d-flex justify-content-between align-items-center" id=<%= word.id %>>
      <%= word.word %> <%= word.ruby %> <span class='meaning' style="display: none"><%= word.meaning %></span>
      <button id=<%= word.id %> type="button" class="btn btn-secondary">+</button>
    </li>
  <% end %>
</ul>

<script>
$(function(){
    $('.btn').each(function(index, element) {
        var id = $(this).attr('id');
        if (localStorage.getItem(id)) {
            $(this).removeClass('btn-secondary').addClass('btn-primary');
        }
    });

    $('.btn').on('click', function(event){
        event.preventDefault();
        var id = $(this).attr('id');
        if (localStorage.getItem(id)) {
            $(this).removeClass('btn-primary').addClass('btn-secondary');
            localStorage.removeItem(id);
        } else {
            $(this).removeClass('btn-secondary').addClass('btn-primary');
            localStorage.setItem(id, "a");
        }
    });

    $('.list-group-item').on('click', function(event){
        var meaning = $(this).children('.meaning');
        if (meaning.is(':visible')) {
            meaning.hide();
        } else {
            meaning.show();
        }
    });
});
</script>
